.termynal-commentSc {
    color: #4a968f;
    font-style: italic;
    display: block;
}


.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    border-radius: 5px;
}

.left {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: 50%;
}


.left p {
    width: 320px;
    text-align: justify;
    font-family: 'Roboto Mono', 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
    margin-left: 12px;
}


.termyScenario  {
    /* display: flex; */
    /* justify-content: center;
    align-content: center; */
    width: 50%;
    /* margin-top: 50px; */
    /* max-width: 100%; */
    /* margin-left: 320px; */
    padding-left: 20px;
    background: #f6f6f6;
    color: black;
    /* font-size: 18px; */
    font-size: 12px;
    /* font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace; */
    font-family: 'Roboto Mono', 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
    border-radius: 4px;
    /* padding: 75px 45px 35px; */
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.termyScenario:hover{
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
/* 
.termyScenario {
    white-space: pre-wrap;
    position: relative;
    display: inline-block;
    width: 720px;
    height: 500px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
  }
   */
  /* Create the hidden pseudo-element */
  /* include the shadow for the end state */
  .termyScenario::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
  }





















a.external-link::after {
    /* \00A0 is a non-breaking space
        to make the mark be on the same line as the link
    */
    content: "\00A0[↪]";
}

a.internal-link::after {
    /* \00A0 is a non-breaking space
        to make the mark be on the same line as the link
    */
    content: "\00A0↪";
}
