# Define the pipeline
trigger:
  branches:
    include:
    - json-to-bloba

pool:
  vmImage: 'windows-latest'

steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      # Clone the repository
      git clone https://github.com/kar122/jsontoblob.git "$(System.DefaultWorkingDirectory)/repo"

- checkout: self
  persistCredentials: true
  clean: true
  fetchDepth: 1

- task: AzureCLI@2
  inputs:
    azureSubscription: 'Microsoft Azure Sponsorship'
    scriptLocation: 'inlineScript'
    inlineScript: |
      # Navigate to the cloned repository
      cd "$(System.DefaultWorkingDirectory)/repo"

      # Push changes to Azure Blob Container
      az storage blob upload-batch --destination container --source . --pattern "repo.json"